

<%=link_to 'Add a new child', '/children/new'%><br>


<%=link_to 'See our donators!', '/users'%><br>

<%if current_user%>
<%= link_to 'Your profile', "/users/#{current_user.id}"%>
<%end%>

<h1>Sponsor A Child</h1>

<ul>
    <%@children.each do |child|%>
    <h4><%= child.name%> :</h4>
    <div style="width:150px; height:auto">  
<%= link_to image_tag(child.image, style: 'width: 100%'), child %>
</div>
<br>

    <%end%>
</ul><br>



 