<%if current_user%>
<%= link_to 'Your profile', "/users/#{current_user.id}"%>
<%end%>


<h1>Sponsor A Child</h1>
        <% @children.each do |child| %>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" <%= image_tag(child.image, style: 'width: 100%') %>
        <div class="card-body">
            <h2 class="card-title"><%= child.name %></h2>
            <h5 class="card-text"><%= child.bio %></h5>
        </div>
        <ul class="list-group list-group-flush">
        <h5><li class="list-group-item"><%= child.age %></li><h5>
        </ul>
        <div class="card-body">
        <h5><%= link_to "Click to Donate!", child%></h5>
        </div>
        </div>
        <% end %>


 