<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  </head>

  <body>
    <div class="jumbotron" style="margin-bottom: 0px;">
      <h1>TITLE</h1>
      <p>Be kind. Donate to a child in need.</p>
    </div>

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <a class="navbar-brand"><%=image_tag("icon.jpg", width: '75px')%></a>
      
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/sign_up">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/sign_in">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/users">Sponsors</a>
        </li>
    </nav>
  <style>
    body {
        background-color:##e8fdff;
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        color: #3511BF;
        font-weight: 400;
    }
</style>

        <header>
      <% if signed_in? %>
        Signed in as: <%= current_user.username %>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', sign_in_path %>
      <% end %>
    </header>



    <section>

      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
        <%= yield %>
    </section>



       
  </body>
</html>
